NEXT_PUBLIC_API_KEY="bVgKlJZp8VqWSVsvluD3"
NEXT_PUBLIC_API_URL="https://api.uat.ordering-pizzahut.ekbana.net/api"
NEXT_PUBLIC_BASE_URL='https://frontend-raptor.ekbana.net/'
NEXT_PUBLIC_API_SYSTEM_URL='https://api.raptor.multiple.ekbana.net/'
# NEXT_PUBLIC_SKU_METHOD= "modal"
NEXT_PUBLIC_SKU_METHOD= "redirect" 
NEXT_PUBLIC_V1_API = 'v1'
NEXT_PUBLIC_V2_API = 'v2'
